
body {
  background-color: LightSalmon;
  font-family: open sans, arial;
  margin: 50px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 18px;
  color: #465;
  padding: 0 10px;
}

h1 {
  color: green;
}

h2 {
   display: block;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   color: black;
}

p {
  color: black;
}
